* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}

body {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper {
  width: 100%;
  height: 100%;
}

.webpage__Wrapper main .navbar__Wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.nav_bgWrapper {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.95;
}
.webpage__Wrapper main .navbar__Wrapper nav {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.webpage__Wrapper main .navbar__Wrapper nav a {
  font-family: Avenir;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  /* font-family: 800; */
  color: #5cb3d7;
}
.webpage__Wrapper main .hero__Section {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper main .hero__Section .heroImage__Container {
  margin-top: -5rem;
  width: 100%;
  height: 100vh;
}
.webpage__Wrapper main .hero__Section .heroImage__Container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
