* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AvenirBold;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: AvenirRegular;
  src: url("./Fonts/Metropolis/Metropolis-Regular.otf");
}
@font-face {
  font-family: AvenirMedium;
  src: url("./Fonts/Metropolis/Metropolis-Medium.otf");
}
@font-face {
  font-family: AvenirSemiBold;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: AvenirLight;
  src: url("./Fonts/Metropolis/Metropolis-ExtraLight.otf");
}
@font-face {
  font-family: LuloClean;
  src: url("./Fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}

body {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper {
  width: 100%;
  height: 100%;
}

.webpage__Wrapper main .hero__Section {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper main .hero__Section .heroImage__Container {
  margin-top: -5rem;
  width: 100%;
  height: 100vh;
}

.webpage__Wrapper main {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webpage__Wrapper main .navbar__Wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  border: 4px solid red;
}
.nav_bgWrapper {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.95;
}
.webpage__Wrapper main .navbar__Wrapper nav {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.webpage__Wrapper main .navbar__Wrapper nav a {
  font-family: AvenirBold;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  /* font-family: 800; */
  color: #5cb3d7;
}

.webpage__Wrapper main .hero__Section .heroImage__Container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__Section .heroImage__Container .circle__Component {
  width: 100%;
  height: calc(100% - 5rem);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.hero__Section .heroImage__Container .circle__Component .circleBorder {
  width: 35rem;
  height: 35rem;
  border: 6px solid rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
/* .hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 475px;
  height: 475px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle::before {
  content: " ";
  width: 475px;
  height: 475px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
} */

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer {
  width: 12rem;
  height: 12rem;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: LuloClean;
  letter-spacing: -7px !important;
  font-size: 50px;
  color: #f77355;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  z-index: 1;
}
/* .hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: 3px solid black;
  font-size: 1rem;
  font-weight: 700;
  font-family: Avenir;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
} */
.catchUs__Btn {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: 3px solid black;
  font-size: 1rem;
  font-weight: 700;
  font-family: AvenirBold;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
}
/* .hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn:hover {
  background-color: #f77355;
  color: white;
} */
.catchUs__Btn:hover {
  background-color: #f77355;
  border: 3px solid #f77355;
  color: white;
}
.intro__Section {
  /* width: 100%; */
  height: 100%;
  width: 1116px;
  display: flex;
  align-items: center;
  padding: 4.5rem;
  margin: 0 auto;
}
.intro__Section .leftSide,
.intro__Section .rightSide {
  width: 50%;
  height: 100%;
}
.intro__Section .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__Section .leftSide .head {
  text-transform: uppercase;
  font-family: LuloClean;
  letter-spacing: -7px !important;
  font-size: 6.5rem;
  width: 140%;
  z-index: 1;
  color: #f77355;
}
.intro__Section .leftSide .info {
  padding-top: 0.75rem;
  width: 80%;
  font-family: AvenirLight;
  line-height: 1.8;
  font-size: 1.2rem;
}
.intro__Section .leftSide .catchUs__Btn {
  margin-top: 2rem;
}
.intro__Section .rightSide .imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__Section .rightSide .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.middleSection__Container {
  width: 1962px;
  height: 100%;
}
.middleSection__Container .innerContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.middleSection__Container .innerContainer .col {
  /* width: 25%; */
}
.middleSection__Container .innerContainer .col1 {
  width: 25%;
  background-color: #f77355;
  margin-right: 0.5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middleSection__Container .innerContainer .col2,
.middleSection__Container .innerContainer .col4 {
  width: 17.5%;
}
.middleSection__Container .innerContainer .col3 {
  width: 35%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.middleSection__Container .innerContainer .col2 .upperImage,
.middleSection__Container .innerContainer .col4 .upperImage,
.middleSection__Container .innerContainer .col2 .lowerImage,
.middleSection__Container .innerContainer .col4 .lowerImage {
  width: 100%;
  height: 50%;
}
.middleSection__Container .innerContainer .col2 .upperImage,
.middleSection__Container .innerContainer .col4 .upperImage {
  margin-bottom: 0.5rem;
}
.middleSection__Container .innerContainer .col2 .upperImage img,
.middleSection__Container .innerContainer .col4 .upperImage img,
.middleSection__Container .innerContainer .col2 .lowerImage img,
.middleSection__Container .innerContainer .col4 .lowerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middleSection__Container .innerContainer .col3 .imgContainer {
  width: 100%;
  height: 100%;
}
.middleSection__Container .innerContainer .col3 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.middleSection__Container .innerContainer .col1 .upperSection {
  width: 100%;
  height: 20%;
}
.middleSection__Container .innerContainer .col1 .upperSection .imgContainer {
  width: 6rem;
  height: 6rem;
}
.middleSection__Container
  .innerContainer
  .col1
  .upperSection
  .imgContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.middleSection__Container .innerContainer .col1 .headLine {
  width: 100%;
  font-size: 40px;
  font-family: LuloClean;
  color: white;
}
.middleSection__Container .innerContainer .col1 .iconsSection {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.middleSection__Container .innerContainer .col1 .iconsSection .iconContainer {
  width: 2.5rem;
  height: 2.5rem;
}
.middleSection__Container
  .innerContainer
  .col1
  .iconsSection
  .iconContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopSecion {
  width: 1962px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.shopSecion .section__Head {
  text-transform: uppercase;
  font-family: LuloClean;
  font-size: 6.5rem;
  color: #f77355;
}
.shopSecion .items_Grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.shopSecion .items_Grid .gridCol {
  display: flex;
}
.shopSecion .items_Grid .col1,
.shopSecion .items_Grid .col3 {
  width: 20%;
  display: flex;
}
.shopSecion .items_Grid .col1 {
  display: flex;
  align-items: flex-end;
}
.shopSecion .items_Grid .col1 .imgContainer,
.shopSecion .items_Grid .col3 .imgContainer {
  width: 100%;
  height: 50%;
}
.shopSecion .items_Grid .col1 .imgContainer img,
.shopSecion .items_Grid .col3 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopSecion .items_Grid .col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.shopSecion .items_Grid .col2 .imgContainer {
  width: 100% !important;
  height: 100%;
}
.shopSecion .items_Grid .col2 .imgContainer img {
  width: 95%;
  height: 100%;
  object-fit: contain;
}
.shopSecion .items_Grid .col2 .imgContainer p {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: LuloClean;
  font-size: 1rem;
  color: #f77355;
}
.newsLetter__Component {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.newsLetter__Component .videoContainer {
  width: 100%;
  height: 100%;
}
.newsLetter__Component .videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsLetter__Component .videoContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsLetter__Component .videoContent .headline {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: LuloClean;
  font-size: 3rem;
  color: white;
}
.newsLetter__Component .videoContent .secondaryText {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: LuloClean;
  font-size: 0.85rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.newsLetter__Component .videoContent .subscriptionContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.newsLetter__Component .videoContent .subscriptionContainer input {
  width: 40%;
  height: 2.5rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-family: AvenirRegular;
  font-weight: 600;
  letter-spacing: 1px;
}
.newsLetter__Component .videoContent .subscriptionContainer input::placeholder {
  color: white;
}
.newsLetter__Component .videoContent .subscriptionContainer button {
  width: 20%;
  height: 2.5rem;
  background-color: white;
  color: black;
  border: 2px solid white;
  margin-left: 0.5rem;
  font-family: LuloClean;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.85rem;
}
/* .secondaryText
subscriptionContainer */
