* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: LuloClean;
  src: url("./Fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}

body {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper {
  width: 100%;
  height: 100%;
}

.webpage__Wrapper main .hero__Section {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper main .hero__Section .heroImage__Container {
  margin-top: -5rem;
  width: 100%;
  height: 100vh;
}

.webpage__Wrapper main {
  width: 100%;
  height: 100%;
}

.webpage__Wrapper main .navbar__Wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  border: 4px solid red;
}
.nav_bgWrapper {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.95;
}
.webpage__Wrapper main .navbar__Wrapper nav {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.webpage__Wrapper main .navbar__Wrapper nav a {
  font-family: Avenir;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  /* font-family: 800; */
  color: #5cb3d7;
}

.webpage__Wrapper main .hero__Section .heroImage__Container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__Section .heroImage__Container .circle__Component {
  width: 100%;
  height: calc(100% - 5rem);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.hero__Section .heroImage__Container .circle__Component .circleBorder {
  width: 35rem;
  height: 35rem;
  border: 6px solid rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
/* .hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 475px;
  height: 475px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle::before {
  content: " ";
  width: 475px;
  height: 475px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
} */

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer {
  width: 12rem;
  height: 12rem;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: LuloClean;
  letter-spacing: -7px !important;
  font-size: 50px;
  color: #f77355;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: 3px solid black;
  font-size: 1rem;
  font-weight: 700;
  font-family: Avenir;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn:hover {
  background-color: #f77355;
  color: white;
  border: 3px solid #f77355;
}
